{% extends "_layouts/cp" %}
{% import '_includes/forms.twig' as forms %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% set selectedSubnavItem = 'stripeWebhooks' %}

{% set title = "Webhooks"|t('stripe') %}

{% set navItems = {} %}

{% block content %}

    <h2>{{ "Webhook Management"|t('stripe') }}</h2>

    {% if not hasWebhook %}
        <p>{{ "Create the webhook for the current environment."|t('stripe') }} <a class="go" href="https://github.com/craftcms/stripe#webhooks">{{ 'Learn more'|t('app') }}</a></p>
    {% endif %}

    {# Divs needed for the Admin Table js below #}
    <div class="pane tablepane hairline">
        <div id="webhooks-container">
        </div>
    </div>

    {% if not hasWebhook %}
        <form method="POST">
            {{ actionInput('stripe/webhooks/create') }}
            {{ redirectInput('stripe/webhooks') }}
            {{ csrfInput() }}
            <button class="btn primary" type="submit">{{ "Create"|t('stripe') }}</button>
        </form>
    {% endif %}

    {% set tableData = [] %}

    {% if webhookInfo is not empty %}
        {% set tableData = [{
            id: recordId,
            title: webhookInfo.description ?? webhookInfo.id,
            apiVersion: webhookInfo.api_version,
            livemode: webhookInfo.livemode,
            whStatus: webhookInfo.status,
            address: webhookInfo.url,
        }] %}
    {% endif %}

    {% js %}
        var columns = [
            { name: '__slot:title', title: '{{ 'Topic'|t('stripe') }}' },
            { name: 'apiVersion', title: '{{ 'API Version'|t('stripe') }}' },
            { name: 'livemode', title: '{{ 'Live Mode'|t('stripe') }}' },
            { name: 'whStatus', title: '{{ 'Status'|t('stripe') }}' },
            { name: 'address', title: '{{ 'URL'|t('stripe') }}' },
        ];

        new Craft.VueAdminTable({
            fullPane: false,
            columns: columns,
            container: '#webhooks-container',
            deleteAction: 'stripe/webhooks/delete',
            deleteConfirmationMessage: Craft.t('stripe', "Are you sure you want to delete this webhook?"),
            deleteFailMessage: Craft.t('stripe', "Webhook could not be deleted"),
            deleteSuccessMessage: Craft.t('stripe', "Webhook deleted"),
            emptyMessage: Craft.t('stripe', 'No webhooks exist yet.'),
            tableData: {{ tableData|json_encode|raw }},
            deleteCallback: function() {
                window.location.reload(); // We need to reload to get the create button showing again
            },
        });
    {% endjs %}

    <hr />

    <h2>{{ "Webhook Settings"|t('stripe') }}</h2>
    <form method="POST">
        {{ actionInput('stripe/webhooks/save-settings') }}
        {{ redirectInput('stripe/webhooks') }}
        {{ csrfInput() }}

        {{ forms.autosuggestField({
            first: true,
            label: 'Webhook Signing Secret'|t('stripe'),
            id: 'webhookSigningSecret',
            name: 'webhookSigningSecret',
            value: webhookSigningSecret,
            suggestEnvVars: true,
            autofocus: true,
        }) }}

        {{ forms.autosuggestField({
            first: true,
            label: 'Webhook ID'|t('stripe'),
            id: 'webhookId',
            name: 'webhookId',
            value: webhookId,
            suggestEnvVars: true,
            autofocus: true,
        }) }}

        <button class="btn primary" type="submit">{{ "Save"|t('app') }}</button>
    </form>
{% endblock %}

